---
---
<footer
  class="site-footer mt-16"
  data-print-hide
>
  <div
    class="site-shell py-6 text-sm font-sans flex flex-wrap items-center gap-x-5 gap-y-2"
  >
    <span>The Well is open data for courtroom procedure.</span>
    <a href="/glossary/">Glossary</a>
    <a href="/methodology/">Methodology</a>
    <a href="/transparency/">Transparency</a>
    <a href="/canary/">Canary</a>
    <a href="https://github.com/thewell/thewell" rel="noopener">Source</a>
  </div>
</footer>
