---
---
<footer
  class="border-t mt-16"
  style="border-color: var(--color-rule)"
  data-print-hide
>
  <div
    class="max-w-3xl mx-auto px-6 py-6 text-sm font-sans"
    style="color: var(--color-muted)"
  >
    <a href="/canary/" class="mr-4">Canary</a>
    <a href="/transparency/" class="mr-4">Transparency</a>
    <a href="https://github.com/thewell/thewell" rel="noopener">Source</a>
  </div>
</footer>
